*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #389bc9;
}

.chatbot-toggler{
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #2350b1;
    border-radius: 50%;
}

.chatbot-toggler span{
    position: absolute;
}
.show-chat-bot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child{
    opacity: 0;
}

.show-chat-bot .chatbot-toggler span:last-child{
    opacity: 1;
}

.chatbot{
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 420px;
    overflow: hidden;
    background: #FFF;
    border-radius: 15px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
}

.show-chat-bot .chatbot{
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.chatbot header{
    background-color: #2350b1;
    padding: 16px 0;
    text-align: center;
    position: relative;
}

.chatbot header h2{
    color: #fff;
    font-size: 1.4rem;
}

.chatbot header span{
    position: absolute;
    right: 20px;
    top: 50%;
    color: #fff;
    cursor: pointer;
    transform: translateY(-50%);
    display: none;
}

.chatbot .chatbox{
    height: 510px;
    overflow-y: auto;
    padding: 30px 20px 70px;
}

.chatbox .chat{
    display: flex;
}
.chatbox .incoming span{
    height: 32px;
    width: 32px;
    color: #fff;
    background: #2350b1;
    align-self: flex-end;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}
.chatbox .outgoing {
    justify-content: flex-end;
    margin: 20px 0;
}

.chatbox .chat p{
    background-color: #2350b1;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    color: #fff;
    font-size: 0.95rem;
    max-width: 75%;
}

.chatbox .incoming p{
    color: #000;
    background-color: #eae8e8;
    border-radius: 10px 10px 10px 0; 
}

.chatbot .chat-input{
    position: absolute;
    bottom: 0;
    border-top: 1px solid #ccc;
    width: 100%;
    background: #fff;
    padding: 5px 20px;
    display: flex;
    gap: 5px;
}

.chat-input textarea{
    border: none;
    outline: none;
    height: 55px;
    width: 100%;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
}

.chat-input span{
    color: #2350b1;
    font-size: 1.35rem;
    cursor: pointer;
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    visibility: hidden;
}

.chat-input textarea:valid ~ span{
    visibility: visible;
}

@media(max-width: 490px){
    .chatbot{
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .chatbot .chatbox{
        height: 90%;
    }
    .chatbot header span{
        display: block;
    }
}
